/* ============================================= */
/*              Cards                          */
/* ============================================= */

.card-body {
  padding: 1rem 0;
}

.project-card {
  width: 100%;
  max-width: 100%;
}

.project-thumb {
  transition: all 0.5s cubic-bezier(0.305, -0.6, 0.8, 1.65);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 3px;
}

.project-thumb:hover {
  transform: scale(1.3);
  box-shadow: rgba(65, 242, 255, 0.781) 0px 0px 0px 3px;
}

.project-card-body {
  position: relative;
}

.repo-link {
  transition: transform 0.3s;
}

.repo-link:hover {
  transform: scale(1.3);
}
